
body {
    height: 100vh;
    margin: 0;
    
    font-family: Roboto, sans-serif;
  }

.header,.footer{
    
    display:flex;
    background-color: #1F2937;
    color:white;
}

.hero_section{
    
    gap:20px;
    display:flex;
    
    flex-direction: column;
   
}
.footer{
    width: 100%;
    margin-top:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.sec3{
    background-color: #E5E7EB;
}
.sec2 {
    gap:30px;
    display:flex;
    justify-content: center;
    
}
.hero_section h1{
    text-align: center;
}
.sec2 .i{
 text-align: center;
 gap:5px;
 display: flex;
 justify-content: center;
 flex-direction: column;
    
}
.sec2 img{
    border: 4px solid blue;
    border-radius: 20px;
}